.alertBox{
  position: fixed;
  top: 20px;
  right: 30px;
}
.alertBox .toast-header{
  color:#d12127;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.alertBox .toast-body{
  background: #d12127;
}
.alertBox .btn-close{
    position: absolute;
    right: 13px;
    top: 5px;
}
.main{
  width: 81.3%;
  float: left;
  background: #eeeeee;
  transition: 0.25s all ease;
  box-sizing: border-box;
  padding: 2%;
  height: calc(100vh - 100px);
}